manifest {
    name = 'cool name nf'
    description = 'nice description'
    version = '0.0.1'
    author = 'yourname <your@email>'
    mainScript = 'main.nf'
    defaultBranch = 'master'
}

docker.enabled = true //USE DOCKER
process.errorStrategy = 'ignore' // STANDARD ERROR STRATEGY

// Standard params
includeConfig 'conf/params.config'

// Profiles
profiles {
    standard { includeConfig 'conf/standard.config' }
    gls { includeConfig 'conf/gcp.config' }
    azureBatch { includeConfig 'conf/azure.config' }
    awsBatch { includeConfig 'conf/aws.config' }
    stub { includeConfig 'conf/stub.config' }
}
